<h1>Application Twitter</h1>

<p>Bonjour <%= @utilisateur.nom %>,</p>

<p>
Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :
</p>

<%= link_to "Réinitialiser", edit_password_reset_url(@utilisateur.reset_token, email: @utilisateur.email) %>

<p>
Ce lien expire dans 2 heures.
<br><br>
Si vous n'avez pas demander de réinitialisation de votre mot de passe, ignorez simplement cet email. <br><br>

Votre mot de passe ne changera pas.
</p>